<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
  <h1>Manago</h1>
  <p>Kindly log in or create an account to begin.</p>
  <div>
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    <%= link_to "Register", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>