<div class=" message-container">
        <div class="<%= status %> flex justify-content-between" id="alert-box">
          <% if status == 'notice' %>
            <span class=""><%= notice %></span>
          <% else %>
                <span class=""><%= alert %></span>
            <% end %>
            <button type="button" class="btn-close"  onclick='closeMessage()' aria-label="Close"></button>
        </div>

</div>

<script>

    function closeMessage() {
        document.getElementById('alert-box').style.display = "none"
    }
</script>