/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *= require_tree .
 *= require_self
 */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css';

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
.arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;   /* Height of the arrow */
    border-bottom: 20px solid transparent;   /* Height of the arrow */
    border-right: 20px solid blue;   /* Width and color of the arrow */
  }
  